* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html,
body {
  max-width: 100vw;
  background-color: #e1e4e8;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  background-color: white;
  font: 600 2.4rem Roboto;
  color: #424e68;
  text-align: center;
  padding: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}
